@model ViajesTuristicos.Models.Cliente
@{
    ViewBag.Title = "Destino";
}

<h2>Destino</h2>

<h3>@Model.Cedula</h3>
<h3>@Model.Nombre</h3>
<h3>@Model.Edad</h3>
<h3>@Model.Destino</h3>

<img src="@Model.pic" width="150" height="150" />



