@model ViajesTuristicos.Models.Cliente
@using ViajesTuristicos.Models
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

@using (Html.BeginForm("Destino", "Helper", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(a => a.Cedula)
    @Html.TextBoxFor(b => b.Cedula, new { @class = "form-control", placeholder = "Escriba su Cedula" })
 
    <br />
    @Html.LabelFor(a => a.Nombre)
    @Html.TextBoxFor(b => b.Nombre, new { @class = "form-control", placeholder = "Escriba su Nombre" })

    <br />
    @Html.LabelFor(a => a.Edad)
    @Html.TextBoxFor(b => b.Edad, new { @class = "form-control", placeholder = "Escriba su Edad" })

    <br />
    @Html.EnumDropDownListFor(model => model.Destino,htmlAttributes: new { @class = "form-control" })
    <br />

    <input type="submit" value="Enviar" />

}
